# Intellij Idea project files

*.iml
*.ipr
*.iws
.idea/

#
# Linux
#
# Ignore "backup" files which vim and emacs commonly create
*~

#
# OS X
#

*.DS_Store

tomcat.properties
jdbc.properties
application.properties

slide/
notes.txt


# Gradle

.gradle/
build/
out/
