<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index.html :: layout(~{::title}, ~{::section})}">

<head>
    <title>Tasks App</title>
</head>

<body>
<section>
    <div class="row">
        <div class="col-md-12">

            <div class="mt-2 mb-4 border-bottom">
                <h3>Home</h3>
            </div>

            <div>
                <p>
                    An example spring mvc application managing tasks done for CS6360: Database Design class.
                </p>
            </div>
        </div>
    </div>
</section>

</body>
</html>